.h1-title {
  font-size: 24px; 
  font-weight: bold; 
  color: #333; 
  text-align: center; 
  margin: 20px 0; 
}


.smile-card {
  display: flex;
  align-items: center;
  width: 500px; 
  height: 50px;
  background-color: aqua;
  border-radius: 8px;
  margin: 5px;
  padding: 5px;
  text-align: center;
}

.emoji {
  font-size: 25px;
}

.votes {
  margin-top: 5px;
}

.smile-list-container {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
  gap: 20px; 
}

.vote-btn {
  background-color: #007bff; 
  color: #fff; 
  border: none; 
  padding: 5px 20px; 
  border-radius: 5px; 
  cursor: pointer; 
}

.vote-btn:hover {
  background-color: #0056b3;
}


.winner-btn {
  margin: 0 calc(50% - 40px);
  background-color: #470dce; 
  color: #fff; 
  border: none; 
  padding: 5px 20px; 
  border-radius: 5px; 
  cursor: pointer;
}

.winner-btn:hover {
  background-color: #22044a;
}

.winner h2 {
  font-size: 18px; 
  font-weight: bold; 
  color: #333; 
  text-align: center; 
  margin: 20px 0; 
}

@media (max-width: 768px) {
  .h1-title {
    font-size: 20px;
  }
}

@media (max-width: 768px) {
  .smile-card {
    width: 100%; 
  }
  
  .emoji {
    font-size: 20px;
  }
  
  .votes {
    margin-top: 5px;
  }
}
